# Hugo
.hugo_build.lock
public/
resources/_gen/
.hugo_cache/
assets/jsconfig.json

# Generic
.DS_Store
.Spotlight-V100/
.Trashes/
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.stackdump


